.projectsMain {
    margin-top: 95px; 
    color: rgb(75, 68, 104);
}

.projectMainTitle {
    font-size: 20px;
    font-weight: 500;
    padding: 16px 16px 0;

}

.projectSubTitle {
    font-size: 18px;
    font-weight: 500;
}

.projectP {
    text-align: justify;
}