.header {
    background-color: #f5f5dc;
    color: rgb(75, 68, 104); 
}
.softwareHeaderTitle {
    font-family: Buongiorno, cursive;
    font-size: 70px;
    text-align: center;
    line-height: 2.5rem;
}
.innovationsHeaderTitle {
    font-family: "JosefinSans";
    font-size: 30px; 
    letter-spacing: 4px;
    text-align: center;
    line-height: 2rem;
}

.sloganHeader {
    font-size: 18px; 
    letter-spacing: 2px;
    text-align: center;
    font-weight: 400;
    line-height: 0;
}

.briefpara {
    padding: 0 16px;
    text-align: justify;
    line-height: 1.25rem;
    font-size: 16px;
    max-width: 475px;
    margin: 0 auto;
}

@media screen and (max-width: 300px)  {
    .sloganHeader {
        line-height: 1rem;
    }
}
